body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  background: rgb(249, 249, 249);
  border: 1px solid #a7a7a7;
  padding: 40px;
  border-radius: 10px;
}

label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  color: #797979;
  font-size: 15px;
}

.input {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #c7c7c7;
  color: #353535;
}

.checkbox {
  width: 25px;
  height: 25px;
}

.deleteIcon {
  transform: rotate(45deg);
}

.deleteIcon::after {
  content: "+";
}

span {
  margin-left: 5px;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background: #ff9204;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

button[type="button"] {
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 10px;
}

.titleWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
